/* Global styling */
body {
  background-color: #F6f5f2; /* Set background color for the entire page */
  min-height: 100vh;
   /* Set a minimum height of 100% of the viewport height */
}

/* Styling for the top section */

/* Resetting default styles and setting font */
* {
  margin: 0; /* Reset margin to zero for all elements */
  padding: 0; /* Reset padding to zero for all elements */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  font-family: 'Afacad';
  /* Set the default font family for the page */
}

/* Header styling */
header {
  top: 20; /* Set the top position to 0 */
  left: 0; /* Set the left position to 0 */
  width: 100%; /* Set the width to 100% */
  height: 100%;
  background-color: #F6f5f2; /* Set background color for the header */
  
}


/* Navbar styling */
header .navbar {
    position: fixed; /* Fixed position to stay at the top */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: transparent;
    transition: background-color 0.3s; /* Smooth transition for background color */
    color: black; /* Adjust text color if needed */
    z-index: 100;
    padding: 20px;
    /* Set background color for the navbar */
    
}

/* Logo styling */
.navbar .logo {
  margin-left: 20px;
  display: flex;
  color: white;
  opacity: 1; /* Set text color for the logo */
   /* Set font weight for the logo */
  font-size: 30px; /* Set font size for the logo */
  text-decoration: none; /* Remove underline from the logo text */
}

.navbar .logo span {
  color: #9E9D89; /* Set text color for the span within the logo */
}

/* Menu links styling */
.navbar .menu-links {
  display: flex; /* Use flexbox for layout of menu links */
  list-style: none; /* Remove default list styles */
  padding-top: 15px;
  margin-right: 20px;
  gap: 30px; /* Set the gap between menu links */
}


.navbar a {
  padding-top: 8px;
  color: white; /* Set text color for menu links */
  font-size: small; /* Set font weight for menu links */
  text-decoration: none; /* Remove underline from menu links */
  transition: 0.2s ease; /* Add a smooth transition effect */
}

.navbar a:hover {
  color: black; /* Change text color on hover for menu links */
}

/* this is for the new account  */

/* Mobile menu and hamburger button styling */
#close-menu-btn {
  position: absolute; /* Set the position to absolute for the close menu button */
  right: 20px; /* Set the right position for the close menu button */
  top: 20px; /* Set the top position for the close menu button */
  cursor: pointer; /* Set cursor to pointer for the close menu button */
  display: none; /* Initially hide the close menu button */
}

#hamburger-btn {
  color: #c9beb4; /* Set text color for the hamburger button */
  cursor: pointer; /* Set cursor to pointer for the hamburger button */
  display: none; /* Initially hide the hamburger button */
}

/* Media queries for responsive design */

/* Mobile view */


/* for mobile */
@media (max-width: 600px) {
  header .navbar {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar {
    z-index: 1000;
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: flex;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: white;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #D2B48C;
  }

  .navbar a:hover {
    color: #023030;
  }
}

@media (max-width: 1024px) {
  header .navbar {
    padding: 10px;
  }

  header.show-mobile-menu::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
  }

  .navbar {
    z-index: 1000;
  }

  .navbar .logo {
    font-size: 1.7rem;
  }

  #hamburger-btn,
  #close-menu-btn {
    display: flex;
  }

  .navbar .menu-links {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    background: white;
    flex-direction: column;
    padding: 70px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar a {
    color: #D2B48C;
  }

  .navbar a:hover {
    color: #023030;
  }
}
/* for laptop 1440px */ 

/* for desktop 2560px */

/* 2nd main content */
/* Importing Google font - Open Sans */

/* slideshow */
.slideshow-container {
  position: relative;
  width: 100%;
  height: 550px;
}
.mySlides {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.mySlides:first-child {
  display: block;
}
.prev, .next {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.mySlides img {
  width: 100%;
  height: 110%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2.0s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media (max-width: 600px) {
  .slideshow-container {
    height: 300px; /* Adjust the height for mobile screens */
  }

  .mySlides {
    height: 100%; /* Ensure slides take the full height on mobile */
  }

  .prev, .next {
    font-size: 18px; /* Adjust the font size for mobile screens */
    padding: 10px; /* Adjust padding for better mobile touch experience */
  }

  .mySlides img {
    height: auto; /* Make images responsive on mobile */
  }
}

@media (max-width: 1024px) {
  .slideshow-container {
    height: 300px; /* Adjust the height for mobile screens */
  }

  .mySlides {
    height: 100%; /* Ensure slides take the full height on mobile */
  }

  .prev, .next {
    font-size: 18px; /* Adjust the font size for mobile screens */
    padding: 10px; /* Adjust padding for better mobile touch experience */
  }

  .mySlides img {
    height: auto; /* Make images responsive on mobile */
  }
}




.middle {
  margin-top: 50px;
  background-color: #F4D9C6;
}
.middle h1{

  text-align: center;
  padding: 50px;

}
.middle p{
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

video {
  border: 6px solid #F4D9C6;

}

@media (max-width: 600px) {
  .middle {
    margin-top: -60px; /* Adjust margin for mobile */
  }

  .middle h1 {
    padding: 20px; /* Adjust padding for mobile */
  }

  .middle p {
    padding: 10px; /* Adjust padding for mobile */
    font-size: 13px; /* Adjust font size for mobile */
  }

  video {
    border: 3px solid #F4D9C6; /* Adjust border for mobile */
  }
}

@media (max-width: 1024px) {
  .middle {
    margin-top: -60px; /* Adjust margin for desktop */
  }

  .middle h1 {
    padding: 30px; /* Adjust padding for desktop */
  }

  .middle p {
    padding: 15px; /* Adjust padding for desktop */
    font-size: 14px; /* Adjust font size for desktop */
  }
}

/* video bar */

.containerVid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  padding: 0;
  background-color: #F4D9C6;
  
}

.column {
  flex: 1;
  text-align: center;
  padding: 20px;
  position: relative;
}

/* to make the line inbetwwen in each other using relative and absolute  */
.column:not(:first-child):before { 
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px; /* Width of the line */
  background-color: gray; /* Color of the line */
}

h1 {
  font-size: 15px;
  color: #333;
}

p {
  font-size: 12px;
  color: #666;
}


@media (max-width: 600px) {
  .containerVid {
    flex-direction: column; /* Change to a column layout for mobile */
    height: auto; /* Adjust height for mobile */
    padding: 10px; /* Adjust padding for mobile */
  }

  .column {
    flex: none; /* Reset flex property for each column */
    width: 100%; /* Make each column full width on mobile */
    text-align: center;
    padding: 10px; /* Adjust padding for mobile */
  }

  .column:not(:first-child):before {
    content: none; /* Remove the vertical line on mobile */
  }

  h1 {
    font-size: 18px; /* Adjust font size for mobile */
  }

  p {
    font-size: 14px; /* Adjust font size for mobile */
  }
}


/* 4 product gallery */

.galleryMiddle {
  display: flex;
  justify-content: space-evenly;
}

.product {
  flex-basis: 20%; /* adjust the width as necessary */
  margin: 10px;
  text-align: center;
}

.product img {
  width: 100%;
  height: auto;
   /* Remove border if it exists */
}

.product img:hover{
  border: 3px solid black;
}

.product-name {
  margin: 5px 0;
  font-size: 1em;
}

.product-price {
  margin: 5px 0;
  font-size: 1.2em;
  color: #333;
}

/* Additional styles for sold out product */
.sold-out {
  position: relative;
}

.sold-out::after {
  content: 'SOLD OUT';
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background-color: #ff0000;
  color: white;
  font-size: 0.8em;
}

.collections h1 {
  text-align: center;
  font-size: large;
}

@media (max-width: 600px) {
  .galleryMiddle {
    flex-direction: column;
    align-items: center;
    

  }

  .product {
    flex-basis: 80%;
    width: 50%;
    height: 50%;
     /* Adjust the width for smaller screens */
  }
}

/* our collections output */
.wholecollection {
  display: flex;
  justify-content: space-between;
  /* Ensure this container is wide enough to fit all your items side by side */
  width: 100%;
}

.containerCard {
  position: relative;
  width: 50%; /* Adjust this as needed */
  height: 50%;
  margin-left: 50px;
  margin-right: 50px;
}

.containerCard img {
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middleCard {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.containerCard:hover img {
  opacity: 0.3;
}

.containerCard:hover .middleCard {
  opacity: 1;
}

.textCard {
  background-color: #F09872;
  color: white;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 15px;
}

.textCard a {
  color: white;
}


@media (max-width: 600px) {
  .wholecollection {
    flex-direction: column;
    align-items: center;
  }

  .containerCard {
    width: 90%; /* Adjust the width for smaller screens */
    margin: 20px 0;
  }
}


/* New footer terying out */
.footer{
  background: #F4D9C6;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#F09872;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:600px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }

/* end of footer  */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  margin: 10px;
  border: 1px solid #023030;
  border-radius: 8px;
}

.filter-buttons {
  text-align: center;
  margin: 20px;
}

.filter-buttons button {
  margin: 5px;
  padding: 8px;
  cursor: pointer;
}








*,
*:before,
*:after{
    padding: 0;
    
    box-sizing: border-box;
}
.popup{
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  max-width: 80%;
  width: 100%;
  height: 70%;
  padding: 30px 40px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 5px;
  overflow: hidden;
  display: none;
  text-align: center;
  z-index: 999; /* Add a high z-index value to bring the popup in front */
}
.popup img {
  width: 100%; /* Adjust if needed */
  height: 70%; /* Adjust if needed */
  border-radius: 10px;
  margin-top: 1rem;
}
.popup button{
    display: block;
    margin:  10px 10px 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: black;
    background: transparent;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup button:hover{
  background-color: transparent;
  color: gray;
}
.popup h2{
  color: #333;
  margin-bottom: 5px;
}
.popup p{
  color: #666;
  margin-top: 0;
}
.popup a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #CD8D7A;
  color: white;
  padding: 15px 20px;
  border-radius: 15px;

}

form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #023030;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}


@media (max-width: 600px) {
  .popup {
    width: 90%; /* Adjust the width for smaller screens */
}

.popup h2 {
    font-size: 40px; /* Adjust the font size for smaller screens */
}

.popup p {
    font-size: 16px; /* Adjust the font size for smaller screens */
}
}

/* tablets */
@media (max-width: 768px) {
  .popup {
    width: 90%; /* Adjust the width for smaller screens */
}

.popup h2 {
    font-size: 40px; /* Adjust the font size for smaller screens */
}

.popup p {
    font-size: 16px; /* Adjust the font size for smaller screens */
}
}

@media (max-width: 1024px) {
  .popup {
    width: 90%; /* Adjust the width for smaller screens */
}

.popup h2 {
    font-size: 40px; /* Adjust the font size for smaller screens */
}

.popup p {
    font-size: 16px; /* Adjust the font size for smaller screens */
}
}


.points img {
  width: 100px;
  height: 1px;
}

.MainText h1 {
  text-align: center;
  font-size: 20px;
}
.MainText p {
  text-align: center;
  font-size: medium;
}

/* new in page  */




/* .cartTab .listCart .item img {

} */






/* coupon */
.sort-container {
  width: 200px; /* or any other width */
  margin: 0 80%; /* centers the dropdown if the container is wider */
  padding: 5px;
  box-sizing: border-box;
}

.sort-select {
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}

.sort-select:focus {
  outline: none;
  border-color: #a4a4a4;
}

.sortText {
  padding: 10px;
}

#product-cards{
  padding: 5% 10%;
}

#category{
  padding: 5% 6%;
}
.filter-btns{
  text-align: center;
}
.filter-btn{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 16px;
  color: #d3d3d3;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filter-btn::after{
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.filter-btn:hover{
  color: #555;
}
.filter-btn:hover::after{
  width: 100%;
}
/* active button */
.active-btn{
  color: #555;
}
.active-btn::after{
  width: 100%;
}

.canvas-title{
  text-align: center;
}



/*     Shopping Cart     */

.btn-purchase{
  text-align: center;
  margin: auto;
  padding: 2%;
  width: 50%;
}

#shopping-cart{
  padding: 5% 5%;
}

.cart-total{
  text-align: right;
  font-size: 1.3rem;
}

.up-icon{
  color: black;
  position: fixed;
  float: right;
  z-index: 1;
  left: 95%;
  top: 85%;
  font-size: 2rem;
}



 /* //filter cards */

 .ImageFilter {
  position: relative;
  max-width: 2000px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  
}
.filter_buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  margin: 10px 10px;
  
}
.filter-buttons button:hover {
  background-color: #9a9c84;
  color: #f9f3e7;
}

.ImageFilter button {
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 16px;
  color: black;
  font-weight: small;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.ImageFilter button:hover {
  background-color: #F4D9C6;
  
  color: #9a9c84;
  text-decoration: underline;
}

.filterable_cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 20px;
  flex-wrap: wrap; /*make it another row*/
  
}
.card {
  flex-basis: 300px;
  background-color: transparent;
  padding: 10px;
  
  
}
.card:hover{
  border: 2px solid #023030;
}
.card img {
  width: 100%;
  
  object-fit: cover;
  
}
.card.hide {
  display: none;
}
.cardbody{
  padding: 15px 20px 20px;
}
.cardtitle{
  font-size: small;
  color: black;
  text-align: center;
}
.cardtext{
  font-size: small;
  color: #023030;
  text-align: center;
}
.cardtext a {
  text-decoration: none;
  color: black;
  background-color: #F4D9C6;
  padding: 10px 10px;
  border-radius: 8px;

}

/* for mobile */
@media (max-width: 600px) {
  .filterable_cards {
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;

  }

  .filter_buttons {
    display: flex;
    justify-content: space-evenly;
  }
}


#category{
  padding: 5% 6%;
}
#product-cards{
  padding: 5% 10%;
}

#footer{
 margin-bottom: 2%;
 margin-top: 2%;
  
}
.filter-btns{
  text-align: center;
}
.filter-btn{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 16px;
  color: #d3d3d3;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filter-btn::after{
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.filter-btn:hover{
  color: #555;
}
.filter-btn:hover::after{
  width: 100%;
}
/* active button */
.active-btn{
  color: #555;
}
.active-btn::after{
  width: 100%;
}

.canvas-title{
  text-align: center;
}



/*     Shopping Cart     */

.cart-container {
  border:1px solid #E0E4CC;
  border-radius:5px;
  margin-top:1em;
  padding:1em;
}
#shopping-cart {
  background-color: white;
}
#shopping-cart h2 {
  text-align: center;
}
button, input[type="submit"] { 
    border:1px solid #CD8D7A; 
    color:#fff; 
    background: #CD8D7A; 
    padding:0.6em 1em;
    font-size:1em; 
    line-height:1; 
    border-radius: 1.2em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    background: #A7DBD8;
    border-color:#69D2E7;
    color:#000;
    cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
  border-bottom:1px solid #E0E4CC;
}
#carttotals {
  margin-right:0;
  margin-left:auto;
}
.cart-buttons {
  width:auto;
  margin-right:0;
  margin-left:auto;
  display:flex;
  justify-content:flex-end;
  padding:1em 0;
}
#emptycart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  border-width: 1px 0px;
  border-style:solid;
  border-color:#A7DBD8;
  color:#679996;
  padding:0.5em 0;
  margin:1em 0;
}

/* start of the rewards program  */
.rewards-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  background-color: #F4D9C6; /* Change to match your color scheme */
}

.rewards-content {
  max-width: 50%;
}

.rewards-content h2 {
  color: #333;
  font-size: 24px;
}

.rewards-content p {
  color: #666;
  margin-bottom: 20px;
}

#joinNow {
  background-color: #CD8D7A; /* Or any color that matches your design */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

#joinNow:hover {
  background-color: #9a9c84; /* Darker shade for hover effect */
}

.rewards-image {
  background-image: url('images/slideshow2.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 300px; /* Or adjust to your preference */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .rewards-content h2 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .rewards-content p {
    font-size: 14px; /* Adjust font size for smaller screens */
    margin-bottom: 15px; /* Adjust margin for smaller screens */
  }

  #joinNow {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* how it works  */
.rewards-works-text {
  text-align: center;
  padding: 40px;
  
}

.rewards-works-text h1{
  font-size: large;
}
.rewards-works-text p{
  padding-top: 10px;
  text-decoration: #CD8D7A underline;
  text-underline-offset: 10px; /*white spacing between words and line*/
}
.steps-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 50px;
   /* Adjust the space between steps as needed */
}

.step {
  background-color: #fff; /* White background for each step */
  border: 1px solid #ddd; /* Light border for each step */
  border-radius: 10px; /* Rounded corners for each step */
  text-align: center; /* Center the text */
  padding: 20px; /* Padding around the content */
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease; /* Adjust width as needed */
}
.step:hover {
  transform: translateY(-5px);
}

.step img {
  width: 100px; /* Adjust image size as needed */
  margin-bottom: 10px; /* Space between image and text */
}

.step h3 {
  color: #333; /* Dark text for readability */
  font-size: 16px; /* Adjust font-size as needed */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .rewards-works-text {
    padding: 20px;
  }

  .steps-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .step {
    width: 48%; /* Adjust width for better spacing */
  }
}


/* how earn points  */
#rewards-work-points {
  text-align: center;
  padding: 40px;
  
}

#rewards-work-points h1{
  font-size: large;
}
#rewards-work-points p{
  padding-top: 10px;
  text-decoration: #CD8D7A underline;
  text-underline-offset: 10px; /*white spacing between words and line*/
}

.rewards-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  background-color: #F4D9C6;
  padding: 100px;
}

.reward {
  background-color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.reward:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.points-circle {
  color: #CD8D7A;
  font-weight: bold;
  margin-bottom: 5px;
}

.reward p {
  font-size: 14px;
  color: #333;
}

@media (max-width: 600px) {
  #rewards-work-points {
    padding: 20px;
  }

  .rewards-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }

  .reward {
    width: 120px; /* Adjust width for smaller screens */
    height: 120px; /* Adjust height for smaller screens */
  }
  
  .rewards-container .reward {
    width: 120px; /* Adjust width for smaller screens */
    height: 120px; /* Adjust height for smaller screens */
  }
  
  .rewards-container:nth-child(2) {
    order: -1; /* Move the second set of circles to the top */
  }
}



/* redeem reward */
#rewards-reedem-points {
  text-align: center;
  padding: 40px;
  
}

#rewards-reedem-points h1{
  font-size: large;
}
#rewards-reedem-points p{
  padding-top: 10px;
  text-decoration: #CD8D7A underline;
  text-underline-offset: 10px; /*white spacing between words and line*/
}
.discounts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */

}

.discount {
  text-align: center;
  padding: 10px;
  gap: 100px;
  padding: 50px;
}

.discount-icon {
  font-size: 48px; /* Adjust size as needed */
  color: grey;
}
 .discount-icon i {
  color: #CD8D7A;
 }
.discount-info {
  margin-top: 8px;
}

.discount-amount {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
}

.discount-points {
  font-size: 0.8em;
  color: #666;
}

@media (max-width: 768px) {
  #rewards-reedem-points {
    padding: 20px;
  }

  .discount {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }
}
/* endbtn for games html*/
.endtext {
  text-align: center;
  padding: 40px;
  
}

.endtext h1{
  font-size: large;
}
.endtext p{
  padding-top: 10px;
  text-decoration: #CD8D7A underline;
  text-underline-offset: 10px; /*white spacing between words and line*/
}
.jnBtn {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  padding-top: 20px;
  background-color: transparent;
  
}

.jnBtn a {
  text-align: center;
  text-decoration: none;
  background-color: #CD8D7A;
  color: white;
  border-radius: 15px;
  padding: 15px 10px;
  width: 100px;
}

/* loginpage */
.login-container {
  background: transparent;
  border-radius: 10px;
  display: flex;
  max-width: 100%;
  height: 120%;
  margin: 20px;
}

.login-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.illustration img {
  max-width: 90%;
  height: 100%;
  padding-left: 15px;
}

.login-content {
  text-align: center;
  margin-top: 30px;
  padding-right: 110px;
  
}

.login-content h1 {
  color: #333;
  margin-bottom: 10px;
}

.login-content p {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.login-content form {
  margin-bottom: 20px;
}

input[type=email], input[type=password], input[type=text]{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #CD8D7A;
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.social-login {
  margin-bottom: 10px;
}

.social-login button {
  font-size: 24px;
  line-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.signup {
  font-size: 12px;
}

.signup a {
  color: #333;
  text-decoration: none;
}

/* Contaact section  */

.contact-section {
  display: flex;
  max-width: 100%;
  height: 500px;
  margin: 40px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}
.contacttext {
  text-align: center;
  padding: 30px;
}
.contacttext h1{
  font-size: 20px;
}
.contacttext p {
  font-size: 15px;
}
.contact-form {
  padding: 30px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background: #f0f0f0;
}

.contact-form textarea {
  padding: 50px 15px;
}

.contact-form button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background: #CD8D7A;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.contact-form button:hover {
  background: #9a9c84;
}

/* games to earn points  */
.gameImg img{
  width: 100%;
  height: 100%;
}

.seperator {
  background-color: transparent;
  text-align: center;
  padding: 50px ;
  margin-top: 10px;
  
}
.seperator p {
  text-decoration: #CD8D7A underline;
  text-underline-offset: 10px;
  font-size: 15px;
  
}
.seperator h1 {
  font-size: 15px;
}

.gamestoplay {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 100px;
}
.game {
  background-color: #fff; /* White background for each step */
  border: 1px solid #ddd; /* Light border for each step */
  border-radius: 10px; /* Rounded corners for each step */
  text-align: center; /* Center the text */
  padding: 20px; /* Padding around the content */
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}
.game img {
  width: 100%; /* Adjust image size as needed */
  margin-bottom: 10px; /* Space between image and text */
}



/* memorygame */
.game-wrapper{
  margin-top: 50px;
  padding: 30px;
  background: transparent;
  display: flex;
  justify-content: center;
  
}

.memory-cards, .memory-card, .view, .game-details{
  display: flex;
  align-items: center;
  justify-content: center;
}

.memory-cards{
  height: 350px;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.memory-cards .memory-card{
  cursor: pointer;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.memory-card.shake{
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%, 100%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-13px);
  }
  40%{
    transform: translateX(13px);
  }
  60%{
    transform: translateX(-8px);
  }
  80%{
    transform: translateX(8px);
  }
}

.memory-cards .memory-card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: #fff;
  border-radius: 7px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.memory-card .front-view img{
  max-width: 17px;
}

.memory-card .back-view{
  transform: rotateY(-180deg);
}

.memory-card .back-view img{
  max-width: 40px;
}

.memory-card.flip .front-view{
  transform: rotateY(180deg);
}

.memory-card.flip .back-view{
  transform: rotateY(0);
}

.game-details{
  width: 100%;
  padding: 20px 20px;
  border-radius: 7px;
  background: transparent;
  justify-content: space-evenly;
  
  
}
.game-time {
  color: #ffffff;
} 
.game-flips {
  color: #ffffff;
}

.game-details p{
  font-size: 18px;
  height: 17px;
  padding-right: 185px;
  border-right: 3px solid white;
  
}

.game-details p span{
  margin-left: 8px;
  color: white;
}

.game-details p b{
  font-size: 18px;
  color: white;
}

.game-details button{
  cursor: pointer;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
  padding: 10px 11px;
  transition: 0.3s ease;
}

.game-details button:hover{
  color: #fff;
}
.backgroundgame {
  background-image: url('images/backgroundgame.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80%;
}

@media screen and (max-width: 700px) {
  .memory-cards{
    height: 350px;
    width: 350px;
  }

  .memory-card .front-view img{
    max-width: 16px;
  }

  .memory-card .back-view img{
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .memory-cards{
    height: 300px;
    width: 300px;
  }

  .memory-card .back-view img{
    max-width: 35px;
  }

  .game-details{
    margin-top: 10px;
    padding: 0 15px;
    height: calc(100% / 4 - 20px);
  }

  .game-details p{
    height: 15px;
    font-size: 17px;
    padding-right: 13px;
  }

  .game-details button{
    font-size: 13px;
    padding: 5px 10px;
    border: none;
    color: #fff;
    background: #9a9c84;
  }
}

/* for the popup of memory game */
/* Add this CSS to style your modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}



/* guess and earn */
.hangmanbody {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  text-align: center;
  width: 100%;
  max-width: 100%;
  background-size: cover;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  background-color: transparent;
  overflow: hidden;
}

.game-container-image {
  width: 300px; /* Adjust as necessary for your layout */
  height: auto; /* This will maintain the aspect ratio */
  animation: swing 2s infinite;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);

}


#hangman {
  margin-bottom: 20px;
  border: 1px solid #000;
}

.won-message {
  font-size: 24px;  /* Adjust the font size as needed */
  color: white;     /* Set the text color to white */
  font-weight: bold; /* Set the font weight if needed */
  /* Add any other styles you want to apply */
}
.lost-message {
  font-size: 24px;  /* Adjust the font size as needed */
  color: red;       /* Set the text color to red or any other color you prefer */
  font-weight: bold; /* Set the font weight if needed */
  /* Add any other styles you want to apply */
}

/* #keyboard {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 20px;
  width: 10%;
  margin: 0 auto; /* Add this line to center the element */
/*}*/

#keyboard button {
  margin: 10px;
  padding: 20px;
  width: 70px;
  text-align: center;
  background-color: white; /* Change the background color */
  color:black; /* Change text color if needed */
  font-weight: bolder;
  border: 1px solid #ccc; /* Change border color if needed */
  text-transform: uppercase;
  font-size: 20px;
}

#keyboard button:hover{
  background-color: lightgray;
}

#wordToGuess {
  margin: 50px auto; /* Set top margin to 50px and horizontally center the element */
  font-size: 30px;
  letter-spacing: 10px;
  padding: 20px;
  width: 35%;
  border-radius: 60px;
  color: white;
  background: rgba(255, 255, 255, 0.3);
  text-align: center; /* Center the text horizontally */
  text-transform: uppercase;
}

#reset {
  justify-content: center;
  padding: 10px 20px; /* Larger padding for a bigger button */
  margin-top: 30px;
  background-color: #81689D; /* A soft pink that complements your color scheme */
  color: #fff; /* White text */
  border: none; /* Remove the default border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-size: 18px; /* Larger font size */
  font-weight: bold; /* Bold font weight */
  cursor: pointer; /* Cursor changes to a hand icon on hover */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

#reset:hover {
  background-color: #e9a09c; /* Slightly darker pink on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Larger shadow on hover for a 'lifting' effect */
}

#mistakes {
  padding-top: 30px;
  font-size: 20px;
  color: white;
}
#timeTag {
  font-size: 20px;
  color: white;
}
#hintstyle {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-decoration: underline;
  text-underline-offset: 10px;
  
}


@keyframes swing {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}


/* account jtml */
/* Profile container styles */


/* Style for game, shopping cart, and logout divs */
.profile-card {
  height: 100%;
  width: 100%; /* Adjust as necessary */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 100px 100px;
  overflow: hidden;
}
.profile-background {
    position: relative;
    height: 150px;
    width: 100%; /* Adjust as necessary */
    overflow: hidden;
}

.background-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.profile-header {
  text-align: center;
  padding: 50px;
  width: 100%;
  background: #F4D9C6; /* Or any other light gray color */
  position: relative;
}

.profile-image {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-header h1 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.profile-header p {
  margin: 4px 0;
  color: gray;
  font-size: 14px;
}

.add-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 20px 0;
}

.stat {
  text-align: center;
}

.stat-number {
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.stat-label {
  font-size: 14px;
  color: #888;
}

.user-name {
  text-transform: capitalize;
  font-size: 20px;
}

.user-email {
  font-size: 20px;
}
.gameDiv{
  border: 3px solid #9a9c84; /* Adjust border thickness here */
  padding: 20px 15px;
  margin: 20px 0; /* Adjust vertical margin */
  width: calc(100% - 6px); /* Adjust for the border thickness */
  box-sizing: border-box;
}
.gameDiv:hover {
  background-color: #FFEEF4;
}
.gamesRect a{
  display: block; /* Remove float and use block to center text */
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0; /* Remove any default margins */
  padding: 10px 0; /* Add some padding */
}
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Style for the dropdown content */
.dropdown-content {
  display: none;
  width: 80%;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Style for each dropdown item/link */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}









/* spinning the wheel game  */

:root {
	--size-wheel: 25rem;
}
main {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}


.msg {
	min-height: 4rem;
	margin-top: 0.5rem;
	text-transform: capitalize;
}

.main ul {
	position: relative;
	padding: 0;
	margin: 1rem 0;
	width: var(--size-wheel);
	height: var(--size-wheel);
	border: 10px solid #81689D;
	border-radius: 50%;
	list-style: none;
	overflow: hidden;
	transition: cubic-bezier(0.075, 0.8, 0.2, 1) 7s;
}

.main span {
	display: inline-block;
	position: relative;
	padding: 0.5rem;
}

.main span::before {
	content: '';
	position: absolute;
	top: 0rem;
	left: 50%;
	border-left: 2rem solid transparent;
	border-right: 2rem solid transparent;
	border-top: 4rem solid maroon;
	z-index: 2;
	transform: translateX(-50%);
	animation: arrow ease-out 0.6s infinite;
}

@keyframes arrow {
	0% {
		top: -2rem;
	}
	80% {
		top: 0;
	}
	100% {
		top: -1.5rem;
	}
}

.main span::after {
	content: '';
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #81689D;
	border-radius: 50%;
}
.wheel-prize {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 50%;
	transform-origin: 0% 100%;
}

.text {
	position: absolute;
	left: -100%;
	width: 200%;
	height: 200%;
	display: block;
	text-align: center;
	padding-top: 1.7rem;
	font-weight: 600;
	color: black;
  font-size: large;
}

.text > b {
	display: inline-block;
	word-break: break-word;
	max-width: 20%;
}

.text-1 {
	background-color: #D0BFFF;
}

.text-2 {
	background-color: #FFEEF4;
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.main button {
	display: inline-block;
	text-align: center;
	border: 0;
	background-color: #81689D;
	
	color: #fff;
	font-size: 1.5rem;
	border-radius: 4rem;
	padding: 0.5rem 1.5rem;
	width: auto;
	cursor: pointer;
	outline: none;
}

.main button:hover {
	opacity: 0.8;
}

.wheelvoucher {
  color: white;
  font-size: 20px;
}
.points {
  color: white;
  font-size: 20px;
}
.limitwheel h1 {
  color: black;
  font-size: 18px;
}

.nextBtn {
  float: right;
  background-color: #CD8D7A;
  padding: 10px 15px ;
  border-radius: 15px;
  margin-right: 30px;


}
.nextBtn a {
  text-decoration: none;
  color: white;
  
}

.backBtn {
  float: left;
  background-color: #CD8D7A;
  padding: 10px 15px ;
  border-radius: 15px;
  margin-left: 30px;
}

.backBtn a{
  text-decoration: none;
  color: white;
}



